<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#41414C" />
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/header.css">

    <title>Cadastro de Clientes</title>
</head>

<body>
    <div class="container">
        <%- include('parts/header', {title: 'Clientes' , button: '+ Cliente' , urlButton: '/novo' }) %>
    </div>

    <div class="client-list">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Nascimento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% clients.forEach(cliente => { %>
                    <tr class="datas-client" data-id="<%= cliente.id %>">
                        <td>
                            <%= cliente.id %>
                        </td>
                        <td>
                            <%= cliente.nome %>
                        </td>
                        <td>
                            <%= cliente.nascimento %>
                        </td>
                        <td>
                            <a href="/editar/<%= cliente.id %>">
                                <img src="/images/edit.svg" alt="editar" />
                            </a>
                            <a href="#" class="button-delete">
                                <img src="/images/trash.svg" alt="delete" />
                            </a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <div class="modal-wrapper">
        <div class="modal">
            <h3>Excluir Cliente</h3>
            <p>Quer mesmo excluir esse cliente?</p>
            <footer>
                <a class="button" href="/">Cancelar</a>
                <button class="button" type="submit" form="delete-cliente">Excluir cliente</button>
            </footer>
        </div>
        <form method="post" action="/deletar " id="delete-cliente"></form>
    </div>

    <script src="scripts/modal.js"></script>

</body>

</html>